In [1]:
import pandas as pd
import requests

In [2]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [3]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [4]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,161.431,8.705,26162
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,138.984,8.700,19834
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,196.548,8.600,11971
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,99.102,8.568,15377
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,84.730,8.542,8247

In [5]:
# df = pd.DataFrame()
# df
# for i in range(1,429):
#     response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
#     temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
#     df = df.append(temp_df,ignore_index=True)

In [6]:
# df = []
# for i in range(1,429):
#     response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
#     temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
#     df = df(temp_df,ignore_index=True)

In [7]:
# Initialize an empty list to hold DataFrames
dfs = []

for i in range(1, 429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    dfs.append(temp_df)

# Concatenate the list of DataFrames into a single DataFrame
df = pd.concat(dfs, ignore_index=True)

In [8]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,161.431,8.705,26162
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,138.984,8.700,19834
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,196.548,8.600,11971
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,99.102,8.568,15377
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,84.730,8.542,8247
...,...,...,...,...,...,...,...
8555,306523,Ogni maledetto Natale,Massimo Marinelli Lops and Giulia Colardo meet...,2014-11-27,11.033,5.600,315
8556,10375,D-Tox,A disgraced FBI agent with a drinking problem ...,2002-01-04,26.122,5.600,616
8557,185341,[REC]⁴ Apocalypse,"Ángela Vidal, the young television reporter wh...",2014-10-31,59.133,5.600,1090
8558,146375,On the Other Side of the Tracks,Two mismatched cops team up to investigate the...,2012-12-15,16.628,5.569,649
8559,22787,Whiteout,"The only U.S. Marshal assigned to Antarctica, ...",2009-09-09,18.595,5.569,721

In [9]:
df.shape

(8560, 7)

In [10]:
df.to_csv('movies.csv')